.two-squares{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.hebron-logo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.logo-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 8px;
}
.logo-main{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.square{
    width:50%;
    height:25%;
    background-color: red;
}