.header-block{
    height: 50px;
    
}
.header-items{
    height: 50px;
    cursor: pointer;
}
.logo{
    width: 20%;
    height: 50px;
}
.support-button-in-header{
    height: 60%;
    border-width: 2px;
    border-color: orangered;
    border-right-style: solid;
    border-bottom-style: solid;
    box-shadow: none;
}